In [6]:
from __future__ import absolute_import

import pandas as pd
import numpy as np
import dask.dataframe as dd
import dask.array as da

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import BayesianRidge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

out_of_sample = pd.read_csv('D:/Dados historicos-NOVO/WINFUT_01012020_31122020/ohlc/OHLC_1SWIN$N_BMF_T.csv', sep=',')
in_sample = pd.read_csv('D:/Dados historicos-NOVO/WINFUT_01042019_31122019/ohlc/OHLC_1SWIN$N_BMF_T.csv', sep=',')

In [7]:
out_of_sample = out_of_sample.set_index('<DATE>_<TIME>', drop=True)
out_of_sample

                       <OPEN>    <HIGH>     <LOW>   <CLOSE>  <TICK>  <VOL>
<DATE>_<TIME>
2020-01-02 09:03:14  117070.0  117100.0  117040.0  117075.0    1730  10967
2020-01-02 09:03:15  117080.0  117150.0  117075.0  117100.0     548   3047
2020-01-02 09:03:16  117105.0  117110.0  117085.0  117095.0     179    787
2020-01-02 09:03:17  117090.0  117105.0  117085.0  117100.0     144    477
2020-01-02 09:03:18  117095.0  117100.0  117075.0  117080.0     152    576
...                       ...       ...       ...       ...     ...    ...
2020-12-30 18:24:56  119205.0  119220.0  119200.0  119200.0      22    189
2020-12-30 18:24:57  119200.0  119220.0  119200.0  119215.0       9    168
2020-12-30 18:24:58  119200.0  119200.0  119200.0  119200.0       1      3
2020-12-30 18:24:59  119220.0  119220.0  119200.0  119205.0       6     51
2020-12-30 18:31:20  119175.0  119175.0  119175.0  119175.0     730   6853

[7991580 rows x 6 columns]

In [8]:
in_sample = in_sample.set_index('<DATE>_<TIME>', drop=True)
in_sample

                       <OPEN>    <HIGH>     <LOW>   <CLOSE>  <TICK>  <VOL>
<DATE>_<TIME>
2019-04-01 09:00:38   96415.0   96430.0   96405.0   96415.0     412   2141
2019-04-01 09:00:39   96405.0   96435.0   96400.0   96435.0     132    215
2019-04-01 09:00:40   96435.0   96495.0   96415.0   96495.0     160    390
2019-04-01 09:00:41   96480.0   96525.0   96460.0   96485.0     220    606
2019-04-01 09:00:42   96490.0   96565.0   96470.0   96525.0     295    515
...                       ...       ...       ...       ...     ...    ...
2019-12-30 18:09:56  115920.0  115920.0  115905.0  115910.0      36    262
2019-12-30 18:09:57  115905.0  115905.0  115900.0  115900.0       4     12
2019-12-30 18:09:58  115890.0  115890.0  115885.0  115885.0       3     12
2019-12-30 18:09:59  115890.0  115890.0  115875.0  115875.0       5      5
2019-12-30 18:16:26  115770.0  115770.0  115770.0  115770.0     747   8725

[6029061 rows x 6 columns]

In [ ]:
import tensorflow as tf
from tf.keras.layers import Dense, LSTM, RNN

class MinimalRNNCell(tf.keras.layers.Layer):
    pass

cell = MinimalRNNCell(32)

model = tf.keras.Sequential()
model.add(RNN(cell))
model.add(LSTM(activation='tanh'))
model.add(Dense())